.home-main-container {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
}
.home-main-container .Homepage-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 35%;
}
.h1 {
    font-size: 3rem;
    color: #ffffff;
    top: 50%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
}
.home-spots{
    text-decoration: none;
    background-color: #ffffff9e;
    border-radius: 20px;
    padding: 9px 30px 10px 30px;
    font-size: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
    color: #054f7a;
    font-style: italic;
}

.home-spots:hover{
    background-color: #ffffffe8;
}

.h2{
    font-size: 2rem;
    color: #ffffff;
    top: 50%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 40px;
}

.home-explore{
    margin-top: 40px
}
