.map-container {
    width: 600px;
    height: 600px;
}

.edit-group-button {
    width: 624px;
    height: 3rem;
    background-color: #054f7a;
    text-align: center;
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.edit-group-button:hover {
    background-color: #0098ae;
}

.edit-group-button:disabled,
.edit-group-button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.dropdown-option {
    width: 624px;
    border-color: rgba(34, 34, 34, 0.1);
}

.spot-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 800px;
}
.list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 800px;
    padding-top: 50px;
}

.list-one-container{
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.spotlist-name{
    font-weight: 600;

}
.spot-page-container{
    background-color: #e7e4e46e;
}

._input{
    width: 600px;
    word-wrap: break-word;
    padding-bottom: 5px;
}

.spot-log-button{
    background-color: #054f7a;
    font-size: 12px;
    border: none;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-right: 3px
}

.spot-log-button:hover{
    background-color: #0098ae;
}
